@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital@1&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    background: #080a0b;
}
.container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.container::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
.nav {
    display: flex;
    align-items: center;
    background: #080a0b;
    justify-content: space-between;
    border-radius: 0px 0px 5px 5px;
    width: 100%;
    padding: 20px;
    position: fixed;
    top: 0;
    z-index: 1;
}
.logo {
    color: #fff;
    display: flex;
    font-family: 'Abel', sans-serif;
    font-size: 30px;
}
.logo img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    margin-top: 14px;
    border-radius: 25px;
}
.nav-links {
    display: flex;
    align-items: center;
}
.nav-links a {
    color: #fff;
    text-decoration: none;
    font-family: 'Abel', sans-serif;
    margin-left: 20px;
    font-size: 20px;
    transition: all 0.3s ease;
}
.nav-links a:hover {
    color: #00b894;
}
@keyframes fadeIn {
    0% { opacity: 0; left: -100%;}
    100% { opacity: 1; left: 0px;}
}
.content {
    color: rgba(255, 255, 255, 0.75);
    align-items: center;
    justify-content: center;
    animation-timing-function: ease;
    position: relative;
    animation: fadeIn 5s normal;
}
.content h1 {
    font-size: 50px;
    font-family: 'Raleway', sans-serif;
    padding: 20px;
}
.content h1 div {
    font-size: 30px;
}
.content img {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    display: block;
}
.content p {
    text-align: center;
    color: gray;
}
.footer {
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: center;
    background-color: #0d1012;
    border-radius: 5px 5px 0px 0px;
    min-width: 100%;
    padding: 20px;
    position: absolute;
    bottom: -150px;
    z-index: 1;
}
.footer p {
    color: #fff;
    font-family: 'Abel', sans-serif;
    font-size: 20px;
}


@media (max-width: 750px) {
    .nav-links {
        display: inline-block;
        align-items: center;
    }
    .logo {
        font-size: 25px;
    }
    .logo img {
        width: 40px;
        height: 40px;
        margin-right: 6px;
        margin-top: 12px;
        border-radius: 25px;
    }
    .content h1 {
        font-size: 25px;
        text-align: center;
        font-family: 'Raleway', sans-serif;
        padding: 20px;
    }
    .content h1 div {
        font-size: 12px;
    }
}
